.grid {
	&__content {
		margin-bottom: rem(40);
	}
	&__item {
		height: rem(456);
		background-color: $grey;
		text-decoration: none;
		color: $dark;
		transition: 0.3s all;
		position: relative;
		display: block;
		border-radius: rem(30);
		overflow: hidden;
		@include r(1600) {
			height: rem(310);
		}
		@include r(1200) {
			border-radius: rem(10);
			height: auto;
		}
		&:hover {
			opacity: 0.7;
		}
		&-preview {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		&-content {
			display: flex;
			border-radius: rem(30);
			flex-direction: column;
			position: absolute;
			padding: rem(50);
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			@include r(1600) {
				padding: rem(25);
			}
			@include r(1200) {
				br {
					display: none;
				}
			}
		}
		&-discript {
			font-size: rem(14);
			font-weight: 300;
			margin-bottom: rem(5);
		}
		&-title {
			font-weight: 700;
			text-transform: uppercase;
		}
		&--top {
			.grid__item-content {
				justify-content: start;
				@include r(1200) {
					justify-content: flex-end;
				}
			}
		}
		&--bottom {
			.grid__item-content {
				justify-content: flex-end;
			}
		}
		&--light {
			color: $light;
		}
		&--large {
			height: rem(932);
			@include r(1600) {
				height: rem(640);
			}
			@include r(1200) {
				height: auto;
			}
		}
	}
	&__toolbar {
		display: flex;
		justify-content: center;
	}
	&__hidden-content {
		display: none;
	}
}