.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__content {
		display: flex;
		max-width: rem(1170);
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
	&__side {
		display: block;
		// flex-grow: 1;
		width: rem(215);
		&--left {

		}
		&--right {

		}
	}
}