.section {
	&--top {
		padding-top: rem(20);
		padding-bottom: rem(20);
	}
	&--intro {
		background-position: left 0 top rem(16);
		background-size: 100% auto;
		background-repeat: no-repeat;
		@include r(1200) {
			background-size: cover;
			background-position: center;
		}
	}
	&--features {
		background-size: cover;
		background-position: left center;
		background-repeat: no-repeat;
	}
	&--bottom {
		padding-top: rem(42);
		padding-bottom: rem(42);
	}
	// Colors
	&--light {
		background-color: $light;
	}
	&--grey {
		background-color: $grey;
	}
	&--dark-light {
		background-color: $dark-bottom;
		color: $light;
	}
	&--dark {
		background-color: $dark;
		color: $light;
	}
	// Types
	&--intro {
		padding-top: rem(198);
		padding-bottom: rem(54);
		@include r(1200) {
			padding-top: rem(40);
		}
	}
	&--normal {
		padding-top: rem(120);
		padding-bottom: rem(120);
		@include r(1200) {
			padding-top: rem(80);
			padding-bottom: rem(80);
		}
	}
	&--large {
		padding-top: rem(240);
		padding-bottom: rem(240);
		@include r(1200) {
			padding-top: rem(80);
			padding-bottom: rem(80);
		}
	}
	&--contacts {
		background-position: right center;
		background-repeat: no-repeat;
	}
}