.partners {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@include r(1200) {

	}
	&__article {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: rem(10);
		transition: 0.3s all;
		background-color: $light;
		padding: rem(10) rem(15);
		width: calc(20% - 10px);
		height: 100px;
		margin-bottom: rem(20);
		@include r(1200) {
			width: calc(25% - 10px);
		}
		@include r(800) {
			width: calc(33% - 10px);
		}
		@include r(560) {
			width: calc(50% - 10px);
		}
		&:hover {
			opacity: 0.7;
		}
		&--clear {
			padding: 0;
			margin: 0;
			visibility: hidden;
			opacity: 0;
			height: 0;
		}
	}
	&__logo {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}