.item-service {
	background-color: $grey;
	padding: rem(58) rem(40) 0 rem(40);
	border-radius: rem(30);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: inherit;
	text-decoration: none;
	transition: 0.3s all;
	height: 100%;
	@include r(1200) {
		margin-bottom: rem(15);
	}
	&:hover {
		background-color: $red;
		color: $light;
		.item-service__footer-icon {
			fill: $light;
		}
		.item-service__footer {
			border-color: $light;
		}
	}
	&__title {
		margin-bottom: rem(20);
		font-weight: 700;
		font-size: rem(24);
		@include r(1200) {
			margin-bottom: rem(15);
		}
	}
	&__content {
		flex-grow: 1;
		font-size: rem(16);
		margin-bottom: rem(50);
		font-weight: 300;
		@include r(1200) {
			margin-bottom: rem(26);
		}
	}
	&__price {
		margin-bottom: rem(52);
		font-family: $font-title;
		font-weight: 700;
		font-size: rem(36);
		@include r(1200) {
			margin-bottom: rem(39);
			font-size: rem(30);
		}
	}
	&__footer {
		padding-top: rem(26);
		padding-bottom: rem(26);
		display: flex;
		align-items: center;
		border-top: rem(1) solid #7E8CA0;
		justify-content: space-between;
		transition: 0.3s border;
		@include r(1200) {
			padding-top: rem(20);
			padding-bottom: rem(20);
		}
		&-icon {
			fill: $dark;
			display: block;
			width: rem(27);
			height: rem(27);
			transition: 0.3s all;
		}
	}
}