.item-feature {
	padding-left: rem(45);
	@include r(1200) {
		padding-left: 0;
	}
	&__icon {
		width: 75px;
		height: 71.2px;
		box-shadow: rem(15) rem(15) rem(30) rgba(13, 30, 63, 0.1);
		border-radius: rem(30);
		display: block;
		margin-bottom: rem(38);
		@include r(1200) {
			width: rem(46);
			height: rem(40);
			border-radius: rem(10);
			margin-bottom: rem(20);
		}
	}
	&__title {
		font-weight: 500;
		margin-bottom: rem(15);
		text-transform: uppercase;
	}
	&__discript {
		
	}
}