.btn {
	height: rem(60);
	color: $light;
	background-color: $red;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-radius: rem(50);
	padding-left: rem(47);
	padding-right: rem(47);
	text-align: center;
	transition: 0.3s all;
	cursor: pointer;
	border: none;
	font-family: inherit;
	font-size: rem(16);
	@include r(1600) {
		height: rem(54);
		padding-left: rem(44);
		padding-right: rem(44);
	}
	@include r(1200) {
		height: rem(48);
	}
	&--large {
		min-width: rem(206);
	}
	&--full {
		width: 100%;
	}
	&:hover {
		background-color: #C80305;
	}
	&__text {
		font-weight: 700;
	}
}