<!DOCTYPE html>
<html lang="ru">
<head>
    <title>DiezTECH</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="page">
        <section class="section section--grey section--top">
            <div class="container container--large">
                @@include("../blocks/modules/header/header.html")
            </div>
        </section>
        <main class="main">
            <section class="section section--grey section--intro">
                <div class="container">
                    Интро
                </div>
            </section>
            <section class="section section--normal">
                <div class="container">
                   <div class="title mb-70">
                       <h2 class="title__text">
                           Услуги
                       </h2>
                       <p class="title__discript">
                           Разработка всех видов сайтов
                       </p>
                   </div>
                   <div class="columns">
                       <div class="columns__column columns__column--4 mb-20">
                           <a href="" class="item-service">
                               <h4 class="item-service__title">
                                   Корпоративный сайт
                               </h4>
                               <div class="item-service__content">
                                   <p>
                                       Создаем сайты для формирования имиджа компании в интернете и повышения доверия бренда у целевой аудитории.
                                   </p>
                               </div>
                               <p class="item-service__price">
                                   от 200 000 ₽
                               </p>
                               <div class="item-service__footer">
                                   <span class="item-service__footer-text">Подробнее</span>
                                   <span>2</span>
                               </div>
                           </a>
                       </div>
                       <div class="columns__column columns__column--4 mb-20">
                           <a href="" class="item-service">
                               <h4 class="item-service__title">
                                   Landing page
                               </h4>
                               <div class="item-service__content">
                                   <p>
                                       Разработка посадочной страницы для получения заявок на услуги или продукты компании.
                                   </p>
                               </div>
                               <p class="item-service__price">
                                   от 80 000 ₽
                               </p>
                               <div class="item-service__footer">
                                   <span class="item-service__footer-text">Подробнее</span>
                                   <span>2</span>
                               </div>
                           </a>
                       </div>
                       <div class="columns__column columns__column--4 mb-20">
                           <a href="" class="item-service">
                               <h4 class="item-service__title">
                                   Интернет-магазин
                               </h4>
                               <div class="item-service__content">
                                   <p>
                                       Создаем сайты для формирования имиджа компании в интернете и повышения доверия бренда у целевой аудитории.
                                   </p>
                               </div>
                               <p class="item-service__price">
                                   от 300 000 ₽
                               </p>
                               <div class="item-service__footer">
                                   <span class="item-service__footer-text">Подробнее</span>
                                   <span>2</span>
                               </div>
                           </a>
                       </div>
                       <div class="columns__column columns__column--4 mb-20">
                           <a href="" class="item-service">
                               <h4 class="item-service__title">
                                   Корпоративный сайт
                               </h4>
                               <div class="item-service__content">
                                   <p>
                                       Создаем сайты для формирования имиджа компании в интернете и повышения доверия бренда у целевой аудитории.
                                   </p>
                               </div>
                               <p class="item-service__price">
                                   от 200 000 ₽
                               </p>
                               <div class="item-service__footer">
                                   <span class="item-service__footer-text">Подробнее</span>
                                   <span>2</span>
                               </div>
                           </a>
                       </div>
                       <div class="columns__column columns__column--4 mb-20">
                           <a href="" class="item-service">
                               <h4 class="item-service__title">
                                   Landing page
                               </h4>
                               <div class="item-service__content">
                                   <p>
                                       Разработка посадочной страницы для получения заявок на услуги или продукты компании.
                                   </p>
                               </div>
                               <p class="item-service__price">
                                   от 80 000 ₽
                               </p>
                               <div class="item-service__footer">
                                   <span class="item-service__footer-text">Подробнее</span>
                                   <span>2</span>
                               </div>
                           </a>
                       </div>
                       <div class="columns__column columns__column--4 mb-20">
                           <a href="" class="item-service">
                               <h4 class="item-service__title">
                                   Интернет-магазин
                               </h4>
                               <div class="item-service__content">
                                   <p>
                                       Создаем сайты для формирования имиджа компании в интернете и повышения доверия бренда у целевой аудитории.
                                   </p>
                               </div>
                               <p class="item-service__price">
                                   от 300 000 ₽
                               </p>
                               <div class="item-service__footer">
                                   <span class="item-service__footer-text">Подробнее</span>
                                   <span>2</span>
                               </div>
                           </a>
                       </div>
                   </div>
                </div>
            </section>
            <section class="section section--normal">
                <div class="container container--large">
                    <div class="title mb-70">
                       <h2 class="title__text">
                           Кейсы
                       </h2>
                       <p class="title__discript">
                           Выполненные работы
                       </p>
                   </div>
                   @@include("../blocks/modules/grid/grid.html")
                </div>
            </section>
            <section class="section section--normal">
                <div class="container">
                    <div class="title mb-70">
                       <h2 class="title__text">
                           Преимущества
                       </h2>
                       <p class="title__discript">
                           Или что вы получите
                       </p>
                   </div>
                </div>
            </section>
            <section class="section section--normal">
                <div class="container">
                    <div class="title mb-70">
                       <h2 class="title__text">
                           Бриф
                       </h2>
                       <p class="title__discript">
                           Этапы проведения работ
                       </p>
                   </div>
                </div>
            </section>
            <section class="section section--grey section--normal">
                <div class="container">
                    <div class="title mb-70">
                       <h2 class="title__text">
                           Нам доверяют
                       </h2>
                   </div>
                </div>
            </section>
            <section class="section section--large">
                <div class="container">
                    <div class="title mb-70">
                       <h2 class="title__text">
                           Обратная связь
                       </h2>
                       <p class="title__discript">
                           Заполните форму, и мы свяжемся с вами в ближайшее время
                       </p>
                   </div>
                </div>
            </section>
            <section class="section section--grey section--normal">
                <div class="container">
                    Контакты
                </div>
            </section>
        </main>
        <footer class="footer">
            <section class="section section--dark">
                <div class="container">
                    @@include("../blocks/modules/footer/footer.html")
                </div>
            </section>
            <section class="section section--bottom section--dark-light">
                <div class="container">
                    12
                </div>
            </section>
        </footer>
    </div>
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
