<!DOCTYPE html>
<html lang="ru">
<head>
    <title>DiezTECH</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="page">
        <section class="section section--grey section--top">
            <div class="container container--large">
                @@include("../blocks/modules/header/header.html")
            </div>
        </section>
        <main class="main">
            <section class="section section--grey section--intro" style="background-image: url('img/intro-bg.svg');">
                <div class="container">
                    Интро
                </div>
            </section>
            <section class="section section--normal">
                <div class="container">
                    <div class="title mb-70">
                        <h2 class="title__text">
                            Услуги
                        </h2>
                        <p class="title__discript">
                            Разработка всех видов сайтов
                        </p>
                    </div>
                    <div class="columns">
                        <div class="columns__column columns__column--4 mb-20">
                            <a href="" class="item-service">
                                <h4 class="item-service__title">
                                    Корпоративный сайт
                                </h4>
                                <div class="item-service__content">
                                    <p>
                                        Создаем сайты для формирования имиджа компании в интернете и повышения доверия бренда у целевой аудитории.
                                    </p>
                                </div>
                                <p class="item-service__price">
                                    от 200 000 ₽
                                </p>
                                <div class="item-service__footer">
                                    <span class="item-service__footer-text">Подробнее</span>
                                    <svg class="item-service__footer-icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-link-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="columns__column columns__column--4 mb-20">
                            <a href="" class="item-service">
                                <h4 class="item-service__title">
                                    Landing page
                                </h4>
                                <div class="item-service__content">
                                    <p>
                                        Разработка посадочной страницы для получения заявок на услуги или продукты компании.
                                    </p>
                                </div>
                                <p class="item-service__price">
                                    от 80 000 ₽
                                </p>
                                <div class="item-service__footer">
                                    <span class="item-service__footer-text">Подробнее</span>
                                    <svg class="item-service__footer-icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-link-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="columns__column columns__column--4 mb-20">
                            <a href="" class="item-service">
                                <h4 class="item-service__title">
                                    Интернет-магазин
                                </h4>
                                <div class="item-service__content">
                                    <p>
                                        Создаем сайты для формирования имиджа компании в интернете и повышения доверия бренда у целевой аудитории.
                                    </p>
                                </div>
                                <p class="item-service__price">
                                    от 300 000 ₽
                                </p>
                                <div class="item-service__footer">
                                    <span class="item-service__footer-text">Подробнее</span>
                                    <svg class="item-service__footer-icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-link-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="columns__column columns__column--4 mb-20">
                            <a href="" class="item-service">
                                <h4 class="item-service__title">
                                    Корпоративный сайт
                                </h4>
                                <div class="item-service__content">
                                    <p>
                                        Создаем сайты для формирования имиджа компании в интернете и повышения доверия бренда у целевой аудитории.
                                    </p>
                                </div>
                                <p class="item-service__price">
                                    от 200 000 ₽
                                </p>
                                <div class="item-service__footer">
                                    <span class="item-service__footer-text">Подробнее</span>
                                    <svg class="item-service__footer-icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-link-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="columns__column columns__column--4 mb-20">
                            <a href="" class="item-service">
                                <h4 class="item-service__title">
                                    Landing page
                                </h4>
                                <div class="item-service__content">
                                    <p>
                                        Разработка посадочной страницы для получения заявок на услуги или продукты компании.
                                    </p>
                                </div>
                                <p class="item-service__price">
                                    от 80 000 ₽
                                </p>
                                <div class="item-service__footer">
                                    <span class="item-service__footer-text">Подробнее</span>
                                    <svg class="item-service__footer-icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-link-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="columns__column columns__column--4 mb-20">
                            <a href="" class="item-service">
                                <h4 class="item-service__title">
                                    Интернет-магазин
                                </h4>
                                <div class="item-service__content">
                                    <p>
                                        Создаем сайты для формирования имиджа компании в интернете и повышения доверия бренда у целевой аудитории.
                                    </p>
                                </div>
                                <p class="item-service__price">
                                    от 300 000 ₽
                                </p>
                                <div class="item-service__footer">
                                    <span class="item-service__footer-text">Подробнее</span>
                                    <svg class="item-service__footer-icon">
                                        <use xlink:href="img/sprites/sprite.svg#icon-link-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--normal">
                <div class="container container--large">
                    <div class="title mb-70">
                        <h2 class="title__text">
                            Кейсы
                        </h2>
                        <p class="title__discript">
                            Выполненные работы
                        </p>
                    </div>
                    @@include("../blocks/modules/grid/grid.html")
                </div>
            </section>
            <section class="section section--normal">
                <div class="container">
                    <div class="title mb-70">
                        <h2 class="title__text">
                            Преимущества
                        </h2>
                        <p class="title__discript">
                            Или что вы получите
                        </p>
                    </div>
                    <div class="columns columns--center">
                        <div class="columns__column columns__column--4 mb-60">
                            <article class="item-feature">
                                <svg class="item-feature__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-features-1"></use>
                                </svg>
                                <h4 class="item-feature__title">
                                    Опытную команду
                                </h4>
                                <p class="item-features__discript">
                                    Более 10 лет на рынке digital
                                </p>
                            </article>
                        </div>
                        <div class="columns__column columns__column--4 mb-60">
                            <article class="item-feature">
                                <svg class="item-feature__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-features-2"></use>
                                </svg>
                                <h4 class="item-feature__title">
                                    Индивидуальный подход
                                </h4>
                                <p class="item-features__discript">
                                    Мы понимаем, что каждая компания уникальна и нельзя сделать отличную работу, не погружаясь в специфику её бизнеса
                                </p>
                            </article>
                        </div>
                        <div class="columns__column columns__column--4 mb-60">
                            <article class="item-feature">
                                <svg class="item-feature__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-features-3"></use>
                                </svg>
                                <h4 class="item-feature__title">
                                    Бизнес-ориентированность. 
                                </h4>
                                <p class="item-features__discript">
                                    Сайт решает задачи, а не делается ради сайта. Только так!
                                </p>
                            </article>
                        </div>
                        <div class="columns__column columns__column--4 mb-60">
                            <article class="item-feature">
                                <svg class="item-feature__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-features-4"></use>
                                </svg>
                                <h4 class="item-feature__title">
                                    Доведение до конца
                                </h4>
                                <p class="item-features__discript">
                                    Независимо от того, какой сложности у вас задача. Если мы взялись за неё выполнение, значит мы доведем её до логического финала 
                                </p>
                            </article>
                        </div>
                        <div class="columns__column columns__column--4 mb-60">
                            <article class="item-feature">
                                <svg class="item-feature__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-features-5"></use>
                                </svg>
                                <h4 class="item-feature__title">
                                    Креатив
                                </h4>
                                <p class="item-features__discript">
                                    Мы обязательно предложим вам парочку нестандартных идей
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--normal">
                <div class="container">
                    <div class="title mb-70">
                        <h2 class="title__text">
                            Бриф
                        </h2>
                        <p class="title__discript">
                            Этапы проведения работ
                        </p>
                    </div>
                    <div class="grid-brif">
                        <article class="item-brif">
                            <div class="item-brif__header">
                                <svg class="item-brif__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-brif-1"></use>
                                </svg>
                                <h4 class="item-brif__title">
                                    Аналитика <br>
                                    и разработка тз
                                </h4>
                            </div>
                            <div class="item-brif__footer">
                                <div class="item-brif__line"></div>
                                <span class="item-brif__number">1</span>
                            </div>
                        </article>
                        <article class="item-brif">
                            <div class="item-brif__header">
                                <svg class="item-brif__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-brif-2"></use>
                                </svg>
                                <h4 class="item-brif__title">
                                    Аналитика <br>
                                    и разработка тз
                                </h4>
                            </div>
                            <div class="item-brif__footer">
                                <div class="item-brif__line"></div>
                                <span class="item-brif__number">2</span>
                            </div>
                        </article>
                        <article class="item-brif">
                            <div class="item-brif__header">
                                <svg class="item-brif__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-brif-3"></use>
                                </svg>
                                <h4 class="item-brif__title">
                                    Аналитика <br>
                                    и разработка тз
                                </h4>
                            </div>
                            <div class="item-brif__footer">
                                <div class="item-brif__line"></div>
                                <span class="item-brif__number">3</span>
                            </div>
                        </article>
                        <article class="item-brif">
                            <div class="item-brif__header">
                                <svg class="item-brif__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-brif-4"></use>
                                </svg>
                                <h4 class="item-brif__title">
                                    Аналитика <br>
                                    и разработка тз
                                </h4>
                            </div>
                            <div class="item-brif__footer">
                                <div class="item-brif__line"></div>
                                <span class="item-brif__number">4</span>
                            </div>
                        </article>
                        <article class="item-brif">
                            <div class="item-brif__header">
                                <svg class="item-brif__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-brif-5"></use>
                                </svg>
                                <h4 class="item-brif__title">
                                    Аналитика <br>
                                    и разработка тз
                                </h4>
                            </div>
                            <div class="item-brif__footer">
                                <div class="item-brif__line"></div>
                                <span class="item-brif__number">5</span>
                            </div>
                        </article>
                        <article class="item-brif">
                            <div class="item-brif__header">
                                <svg class="item-brif__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-brif-6"></use>
                                </svg>
                                <h4 class="item-brif__title">
                                    Аналитика <br>
                                    и разработка тз
                                </h4>
                            </div>
                            <div class="item-brif__footer">
                                <div class="item-brif__line"></div>
                                <span class="item-brif__number">6</span>
                            </div>
                        </article>
                        <article class="item-brif">
                            <div class="item-brif__header">
                                <svg class="item-brif__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-brif-7"></use>
                                </svg>
                                <h4 class="item-brif__title">
                                    Аналитика <br>
                                    и разработка тз
                                </h4>
                            </div>
                            <div class="item-brif__footer">
                                <div class="item-brif__line"></div>
                                <span class="item-brif__number">7</span>
                            </div>
                        </article>
                        <article class="item-brif">
                            <div class="item-brif__header">
                                <svg class="item-brif__icon">
                                    <use xlink:href="img/sprites/sprite.svg#icon-brif-8"></use>
                                </svg>
                                <h4 class="item-brif__title">
                                    Аналитика <br>
                                    и разработка тз
                                </h4>
                            </div>
                            <div class="item-brif__footer">
                                <div class="item-brif__line"></div>
                                <span class="item-brif__number">8</span>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <section class="section section--grey section--normal">
                <div class="container">
                    <div class="title mb-70">
                        <h2 class="title__text">
                            Нам доверяют
                        </h2>
                    </div>
                </div>
            </section>
            <section class="section section--large section--contacts" style="background-image: url('img/contacts-bg.svg');">
                <div class="container">
                    <div class="title mb-70">
                        <h2 class="title__text">
                            Обратная связь
                        </h2>
                        <p class="title__discript">
                            Заполните форму, и мы свяжемся с вами в <br> ближайшее время
                        </p>
                    </div>
                    <div class="columns">
                        <div class="columns__column columns__column--2"></div>
                        <div class="columns__column columns__column--8">
                            <form action="" class="form">
                                <label for="" class="input input--4 mb-20">
                                    <input class="input__field" type="text" placeholder="Ваше имя">
                                </label>
                                <label for="" class="input input--4 mb-20">
                                    <input class="input__field" type="text" placeholder="Ваш e-mail*">
                                </label>
                                <label for="" class="input input--4 mb-20">
                                    <input class="input__field" type="text" placeholder="+7-___-___-__-__">
                                </label>
                                <label class="input input--12 mb-32">
                                    <textarea class="input__field input__field--textarea" placeholder="Расскажите о своем проекте..."></textarea>
                                </label>
                                <label class="agreement mb-40">
                                    <input type="checkbox" class="agreement__input">
                                    <div class="agreement__icon">
                                        <svg class="agreement__icon-img">
                                            <use xlink:href="img/sprites/sprite.svg#icon-check"></use>
                                        </svg>
                                    </div>
                                    <p class="agreement__text">
                                        Я даю свое <a href="">согласие</a> на автоматизированную обработку своих персональных данных
                                    </p>
                                </label>
                                <button class="btn btn--large">
                                    <span class="btn__text">
                                        Отправить
                                    </span>
                                </button>
                            </form>
                        </div>
                        <div class="columns__column columns__column--2"></div>
                    </div>
                </div>
            </section>
            <section class="section section--grey section--normal">
                <div class="container">
                    Контакты
                </div>
            </section>
        </main>
        <footer class="footer">
            <section class="section section--dark">
                <div class="container">
                    @@include("../blocks/modules/footer/footer.html")
                </div>
            </section>
            <section class="section section--bottom section--dark-light">
                <div class="container">
                    12
                </div>
            </section>
        </footer>
    </div>
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
