.item-fact {
	display: flex;
	align-items: center;
	&__icon {
		display: block;
		flex-shrink: 0;
		margin-right: rem(24);
		width: rem(75);
		height: rem(71);
		box-shadow: rem(15) rem(15) rem(30) rgba(13, 30, 63, 0.1);
		border-radius: rem(30);
	}
	&__discript {
		strong {
			font-weight: 500;
		}
	}
}